<!-- <mat-toolbar>
  <span><a routerLink="/">TMS</a></span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/adminLogin" routerLinkActive="mat-accent"
        >Admin Login</a
      >
    </li>
    <li>
      <a mat-button routerLink="/managerLogin" routerLinkActive="mat-accent"
        >Manager Login</a
      >
    </li>
  </ul>
</mat-toolbar> -->

<mat-toolbar class="header-background">
  <span><a routerLink="/">TMS</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>

    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()" matTooltip="Out of System">
        Logout
      </button>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button
        *ngIf="authService.isAdmin == 'true'"
        mat-raised-button
        color="primary"
        matTooltip="Admin"
      >
        {{ authService.managerName }}
      </button>
      <button
        *ngIf="authService.isAdmin == 'false'"
        mat-raised-button
        matTooltip="Manager"
      >
        {{ authService.managerName }}
      </button>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-raised-button color="primary" matTooltip="Office">
        {{ authService.city }}
      </button>
    </li>
  </ul>
</mat-toolbar>
