<!-- <mat-toolbar>
  <span><a routerLink="/">TMS</a></span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/adminLogin" routerLinkActive="mat-accent"
        >Admin Login</a
      >
    </li>
    <li>
      <a mat-button routerLink="/managerLogin" routerLinkActive="mat-accent"
        >Manager Login</a
      >
    </li>
  </ul>
</mat-toolbar> -->

<mat-toolbar class="header-background">
  <span
    ><a routerLink="/">
      <img
        src="../../assets/TMS.png"
        alt="Flowers in Chania"
        width="60px"
        height="50px"
      /> </a
  ></span>

  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/track" routerLinkActive="mat-accent">
        <i class="glyphicon glyphicon-search" style="margin-top:-8px;"></i>
        Tracking</a
      >
    </li>

    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">
        <i class="glyphicon glyphicon-log-in" style="margin-top:-8px;"></i>
        Login</a
      >
    </li>

    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()" matTooltip="Out of System">
        <i class="glyphicon glyphicon-log-out" style="margin-top:-8px;"></i
        >Logout
      </button>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button
        *ngIf="authService.isAdmin == 'true'"
        mat-raised-button
        color="primary"
        matTooltip="Admin"
      >
        <i class="glyphicon glyphicon-user" style="margin-top:-8px;"></i>
        {{ authService.managerName }}
      </button>
      <button
        *ngIf="authService.isAdmin == 'false'"
        mat-raised-button
        matTooltip="Manager"
      >
        <i class="glyphicon glyphicon-user" style="margin-top:-8px;"></i>
        {{ authService.managerName }}
      </button>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-raised-button color="primary" matTooltip="Office">
        <i class="glyphicon glyphicon-home" style="margin-top:-8px;"></i>
        {{ authService.city }}
      </button>
    </li>
  </ul>
</mat-toolbar>
