ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  float: left;
  margin: 10px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  height: 50px;
  margin: auto;
  border: 3px dotted #c33764;
  padding: 10px;
  background: #c0c0aa; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1cefff,
    #c0c0aa
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1cefff,
    #c0c0aa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* mat-toolbar {
  background-color: rgba(186, 118, 219, 0.733);
} */
