.header-background {
  /* background: #f4c4f3;
  background: -webkit-linear-gradient(to right, #fc67fa, #f4c4f3);
  background: linear-gradient(to right, #fc67fa, #f4c4f3); */
  background-color: red;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  float: left;
  margin: 10px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  /* background-color: transparent; */
  height: 50px;
  margin: auto;
  border: 3px dotted #c33764;
  padding: 10px;

  background: #f4c4f3;
  background: -webkit-linear-gradient(to right, #fc67fa, #f4c4f3);
  background: linear-gradient(to right, #fc67fa, #f4c4f3);
}
