mat-toolbar {
  background-color: transparent;
}

.footerContent {
  width: 100%;
  margin: auto;

  text-align: center;
  line-height: 20%;
}
.footer {
  height: 50px;
  border-top: 3px dotted #c33764;
  margin-top: 1px;

  background: #c0c0aa; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1cefff,
    #c0c0aa
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1cefff,
    #c0c0aa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
