<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="drivers.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let driver of drivers">
    <mat-expansion-panel-header>
      {{ driver.name }}
    </mat-expansion-panel-header>
    <div class="driver-image">
      <img [src]="driver.imagePath" [alt]="driver.name" />
    </div>
    <p><b>Sex: </b>{{ driver.sex }}</p>
    <p><b>Phone: </b>{{ driver.phone }}</p>
    <p><b>Address: </b>{{ driver.address }}</p>
    <p><b>drivingLic: </b>{{ driver.drivingLic }}</p>
    <p><b>Adhar No: </b>{{ driver.adharNo }}</p>
    <p><b>vehicleNo: </b>{{ driver.vehicleNo }}</p>
    <mat-action-row>
      <a color="primary" mat-button [routerLink]="['edit', driver.id]">Edit</a>
      <button color="warn" (click)="onDelete(driver.id)" mat-button>
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="drivers.length <= 0 && !isLoading">
  No driver added yet
</p>
