<br />
<mat-card class="managerForm">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveManager()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="name" placeholder="Name" />
      <mat-error *ngIf="form.get('name').invalid"
        >Please enter the name</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="sex" placeholder="Sex" />
      <mat-error *ngIf="form.get('sex').invalid">Please enter sex</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="phone"
        placeholder="Phone.No"
      />
      <mat-error *ngIf="form.get('phone').invalid"
        >Please enter the phone number</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="address"
        placeholder="Address"
      />
      <mat-error *ngIf="form.get('address').invalid"
        >Please enter the address</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="email" placeholder="Email" />
      <mat-error *ngIf="form.get('email').invalid"
        >Please enter email address</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="adharNo"
        placeholder="Adhar No"
      />
      <mat-error *ngIf="form.get('adharNo').invalid"
        >Please enter the Adhar No</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="password"
        placeholder="Password"
      />
      <mat-error *ngIf="form.get('password').invalid"
        >Please enter the Password</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="workingCity"
        placeholder="Working City"
      />
      <mat-error *ngIf="form.get('workingCity').invalid"
        >Please enter the workingCity</mat-error
      >
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">
        Pick Image
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </div>
    <div
      class="image-preview"
      *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid"
    >
      <img [src]="imagePreview" [alt]="form.value.name" />
    </div>

    <!-- <mat-radio-group formControlName="isAdmin">
        <mat-radio-button value="true">
          Admin
        </mat-radio-button>
        <mat-radio-button value="false">
          No Admin
        </mat-radio-button>
      </mat-radio-group> -->
    <!-- <select formControlName="isAdmin">
      <option value="true">Admin</option>
      <option value="false">No Admin</option>
    </select> -->
    <mat-form-field>
      <mat-select formControlName="isAdmin">
        <mat-option value="false">
          Manager
        </mat-option>
        <mat-option value="true">
          Admin
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('isAdmin').invalid"
        >Please Select the option</mat-error
      >
    </mat-form-field>

    <button color="primary" mat-raised-button type="submit">
      Save Manager
    </button>
  </form>
</mat-card>
