<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion multi="true" *ngIf="selectedCityBills.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let bill of selectedCityBills">
    <mat-expansion-panel-header>
      <p><b>Bill Id</b> {{ bill.billId }}</p>
    </mat-expansion-panel-header>

    <mat-action-row>
      <a
        color="primary"
        mat-button
        [routerLink]="['../../', 'bill', 'update', bill.id]"
        >Edit</a
      >
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<!-- <div *ngIf="selectedCityBills.length > 0 && !isLoading">
  <div *ngFor="let bill of selectedCityBills">
    <p>{{ bill.id }}</p>
  </div>
</div>

<p
  class="info-text mat-body-1"
  *ngIf="selectedCityBills.length <= 0 && !isLoading"
>
  No Bill added yet
</p>
<pre>{{ selectedCityBills | json }}</pre> -->
