<mat-spinner *ngIf="isLoading"></mat-spinner>
<div style="text-align: center;">
  <form>
    <mat-form-field style="width:500px !important">
      <input
        matInput
        [value]=""
        (input)="onSearch($event.target.value)"
        placeholder="Search Customer"
      />
    </mat-form-field>
  </form>
</div>
<p>{{ searchingPhone }}</p>
<mat-accordion multi="true" *ngIf="customers.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let customer of customers">
    <mat-expansion-panel-header>
      {{ customer.customerName }}
    </mat-expansion-panel-header>
    <p><b>Customer Id</b> {{ customer.customerId }}</p>

    <p><b>Street</b> {{ customer.street }}</p>

    <p><b>City</b> {{ customer.city }}</p>
    <p><b>State</b> {{ customer.state }}</p>
    <p><b>Country</b> {{ customer.country }}</p>
    <p><b>PIN</b> {{ customer.pin }}</p>
    <p><b>Phone</b> {{ customer.phone }}</p>
    <p><b>Email</b> {{ customer.email }}</p>
    <p><b>GST No</b> {{ customer.gstNo }}</p>
    <mat-action-row>
      <a color="primary" mat-button [routerLink]="['../', 'edit', customer.id]"
        >Edit</a
      >
      <!-- <a color="primary" mat-button routerLink="customer/edit/" +customer.id
        >Edit</a
      > -->
      <button color="warn" (click)="onDelete(customer.id)" mat-button>
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="customers.length <= 0 && !isLoading">
  No Customer added yet
</p>
