/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

/*body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
*/
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
/* body {
  background-image: url("./app/images/karim-manjra-d8BSU7L3k-4-unsplash.jpg");
  background-size: cover;
  background-position: top;
} */
